@import "tailwindcss";

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Esconder barra de rolagem no IE, Edge e Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

html {
    scroll-behavior: smooth;
}